{
	"extends": "airbnb-base",
	"ecmaFeatures": {
		"arrowFunctions": true,
		"blockBindings": true,
		"classes": true,
		"defaultParams": true,
		"destructuring": true,
		"forOf": true,
		"generators": true,
		"modules": true,
		"spread": true,
		"templateStrings": true
	},
	"env": {
		"browser": true,
		"es6": true,
		"node": false
	},
	"rules": {
		"indent": [0, "tab"],
		"no-tabs": 0,
		"no-mixed-spaces-and-tabs": 0,
		"no-var": 0,
		"quotes": 1,
		"semi": 0,
		"no-console": 0
	}
}
